@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0;
    @include for-size(navbarAlign) {
        border-bottom: 1px solid $navbar_mobile_border;
    }

    .container {
        display: flex;
        align-items: center;
        width: 100%;
        @include for-size(navbarAlign) {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0.9rem;
            margin-right: 0.9rem;
        }
        .navigation {
            @include for-size(navbarAlign) {
                display: none;
            }
            margin-left: auto;
            ul {
                display: flex;
                margin-bottom: 0;
                padding-right: 0;
                li {
                    padding: 4px 0;
                    border-bottom: 1px solid transparent;
                    list-style-type: none;
                    &:hover {
                        border-color: white;
                    }
                    a {
                        font-size: 1rem;
                        color: $navbar_text;
                        text-decoration: none;
                    }
                }
                li + li {
                    margin-left: 16px;
                    @include for-size(md) {
                        margin-left: 30px;
                    }
                }
                .navDropdown {
                    a {
                        padding: 0px;
                    }
                }
                .offcanvas-body {
                    border: 1px solid red;
                }
            }
        }
        button[aria-controls="offcanvasNavbar"] {
            border: none;
            padding: 0;
        }
    }
}

.mobileNavItems {
    display: inline-block !important;
    color: $navbar_text !important;
    padding: 0 !important;
    text-decoration: none;
}
.mobileNavTitle {
    font-size: 1.5rem !important;
    color: $primary !important;
}
.mobileNavDropdown {
    a {
        color: $navbar_text !important;
    }
    & > a {
        @extend .mobileNavItems;
        margin-bottom: 4px;
    }
}
