@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 !important;
    @include for-size(navbarAlign) {
        border-bottom: 1px solid $navbar_mobile_border;
    }

    .container {
        display: flex;
        align-items: center;
        width: 100%;
        @include for-size(navbarAlign) {
            margin-left: 15px;
            margin-right: 15px;
            width: 100%;
        }
        .navigation {
            @include for-size(navbarAlign) {
                display: none;
            }
            margin-left: auto;
            ul {
                display: flex;
                margin-bottom: 0;
                padding-right: 0;
                li {
                    padding: 4px 0;
                    border-bottom: 1px solid transparent;
                    list-style-type: none;
                    &:hover {
                        border-color: white;
                    }
                    a {
                        font-size: 16px;
                        font-weight: 300;
                        color: $navbar_text;
                        text-decoration: none;
                    }
                }
                li + li {
                    margin-left: 16px;
                    @include for-size(md) {
                        margin-left: 30px;
                    }
                }
                .navDropdown {
                    a {
                        padding: 0px;
                    }
                }
                .offcanvas-body {
                    border: 1px solid red;
                }
            }
        }
        button[aria-controls="offcanvasNavbar"] {
            background-color: none;
            color: none;
            margin-top: 6px;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 32'%3e%3cpath stroke='rgba%28170, 187, 203, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            @include for-size(navbarAlign) {
                position: relative;
                left: 20px;
            }
        }
    }
}

.mobileNavItems {
    display: inline-block !important;
    color: $navbar_text !important;
    padding: 0 !important;
    text-decoration: none;
}
.mobileNavTitle {
    font-size: 1.5rem !important;
    color: $primary !important;
}
.mobileNavDropdown {
    a {
        color: $navbar_text !important;
    }
    & > a {
        @extend .mobileNavItems;
        margin-bottom: 4px;
    }
}
