@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";

.container {
    display: flex;
    justify-content: center;
    @include for-size(backgroundAlignDesktop) {
        background-image: url("../../public/images/sections/WhySnubes/background.webp");
        background-repeat: no-repeat;
        background-size: contain;
        height: 37.5rem;
    }

    @include for-size(backgroundAlignTablet) {
        background-image: url("../../public/images/sections/WhySnubes/background-mobile.webp");
        background-repeat: no-repeat;
        background-size: 100%;
        padding-left: 0;
        height: auto;
    }
    @include for-size(backgroundAlignDontShow) {
        background-image: none;
        padding-left: 0;
        padding-right: 0;
        height: auto;
    }
}

.textContainer {
    @include for-size(backgroundAlignDesktop) {
        margin-top: 3.75rem;
    }
    @include for-size(backgroundAlignMobile) {
        margin-left: 0.9rem !important;
        margin-right: 0.9rem !important;
        margin-top: 1.875rem !important;
        margin-bottom: 1.875rem !important;
    }
    @include for-size(backgroundAlignTablet) {
        margin-left: 1.875rem;
        margin-right: 1.875rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
}

.mainTitleContainer {
    margin-bottom: 2.5rem;
}

.mainTitle {
    color: $text_color;
    font-size: 1.75rem;
    font-weight: bold;
}

.textGroup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.subtitle {
    color: $text_color;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.description {
    color: $text_color;
    font-size: 1.125rem;
    font-weight: normal;
    flex-wrap: wrap;
}

.textGroup:not(:last-child) {
    margin-bottom: 1.5rem;
}
