@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.container {
    margin-bottom: 3.75rem;
    height: 60%;
    @include for-size(mobileAndTablet) {
        height: 100%;
    }
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sliderLogo {
    width: 8rem;
    height: 2rem;
    margin-bottom: 2.5rem;
}

.sliderDescription {
    font-size: 1.125rem;
    font-style: italic;
    color: $text_color;
    text-align: left;
    width: 30rem;
    @include for-size(backgroundAlignMobile) {
        width: auto;
    }
    //margin-bottom: 1.875rem;
    //padding-bottom: 1rem;
}

.sliderCaption {
    font-size: 1.125rem;
    margin-bottom: 1.875rem;
    strong {
        color: $text_color;
    }
}
