@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";

.informationCol {
    background-size: cover;
    @include for-size(alignFormBoxTablet) {
        background-image: url("../../public/images/sections/Hero/hero-background-tablet.webp");
        background-repeat: no-repeat;
        padding-top: 2.8rem;
        padding-bottom: 2.8rem;
        width: 100%;
    }
    @include for-size(backgroundAlignHeroTablet) {
        background-image: url("../../public/images/sections/Hero/hero-background-tablet.webp");
        background-repeat: no-repeat;
        padding-top: 2.8rem;
        padding-bottom: 2.8rem;
        width: 100%;
    }
    @include for-size(backgroundAlignMobile) {
        background-image: url("../../public/images/sections/Hero/hero-background-mobile.webp");
        background-repeat: no-repeat;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }
}
.formboxCol {
    @media screen and (max-width: 1280px) {
        width: 100%;
    }
}

.heroContentContainer {
    height: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    @include for-size(backgroundAlignHeroTablet) {
        margin-bottom: 0;
    }
    @include for-size(cardAlign) {
        margin-top: 0.9rem;
    }
}

.heroContainer {
    background-image: url("../../public/images/sections/Hero/hero-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    @include for-size(alignFormBoxTablet) {
        background-image: none;
        padding: 0;
    }
    @include for-size(backgroundAlignHeroTablet) {
        background-image: none;
        padding: 0;
    }
    @include for-size(footerAlignMobile) {
        background-image: none;
        padding-left: 0;
        padding-right: 0;
    }
}

.mainInformationContainer {
    display: flex;
    flex-direction: column;
    @include for-size(backgroundAlignHeroTablet) {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (width: 540px) {
        width: 100%;
    }
    @include for-size(backgroundAlignMobile) {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.informationContainer {
    display: flex;
    justify-content: space-between;
    @include for-size(backgroundAlignMobile) {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        align-self: center;
        column-gap: 2.875rem;
        row-gap: 0.938rem;
    }
    @include for-size(backgroundAlignTablet) {
        justify-content: space-evenly;
    }
}

.preInfo {
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 500;
    @include for-size(backgroundAlignMobile) {
        text-align: center !important;
    }
    @include for-size(backgroundAlignHeroTablet) {
        text-align: center;
    }
}

.title {
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
}

.description {
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 300;
    text-align: center;
}

.infoItemContainer {
    @include for-size(backgroundAlignMobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
