@import "../../styles/breakpoints.scss";
@import "../../styles/colors.scss";

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $footer_background;
}
.container {
    display: flex;
    align-items: center;
    height: 14rem;
    @include for-size(footerAlignMobile) {
        height: 24rem;
        text-align: center;
    }
    @include for-size(mobileAndTablet) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include for-size(footerAlignMobile) {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 100%;
    }
}

.footerNavigation {
    p {
        font-size: 1rem;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 0;
        width: max-content;
    }

    p:not(:last-child) {
        margin-bottom: 0.875rem;
    }
    @include for-size(mobileAndTablet2) {
        p {
            text-align: center;
            width: auto;
            margin-bottom: 0.9rem;
        }
    }
}

.bestOfInternetCol {
    display: flex;
    align-items: center;
    img {
        display: block;
        height: 5rem;
        width: 5rem;
    }
    @include for-size(mobileAndTablet2) {
        display: none;
    }
}
.footerCaption {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding-top: 2rem;
    padding-bottom: 0.875rem;
    @include for-size(mobileAndTablet) {
        padding-bottom: 6rem;
    }
    @include for-size(footerAlignMobile) {
        padding-bottom: 3rem;
    }
    p {
        font-size: 0.9rem;
        color: $footer_background;
    }
}
